body {
  margin: 0;
  font-family: Verdana,Geneva,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6f6ef;
}

header {
  display: flex;
  /* justify-content: space-evenly; */
  /* align-items: center; */
  width: 100%;
  background-color: #ff742b;
  height: 60px;
}

.head-con {
  display: flex;
  align-items: center;
  width: 100%;
}

/* form {
  background-color: blue;
  position: relative;
} */

.head-logo {
  display: flex;
  align-items: center;
  /* align-content: left; */
  /* text-align: left; */
}

.site-title {
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  align-content: left;
  padding: 4px;
  line-height: .9;
  margin-right: -25px;
}

img {
  width: 48px;
  height: 100%;
}

.search-con {
  width: 80%;
  margin-left: 30px;
}

.search-con .search-in {
  border-radius: 0;
    border-color: rgba(0,0,0,0);
    border: none;
    height: 14px;
    width: 100%;
    box-shadow: none;
    padding: 20px 144px 20px 54px;
    font-weight: 300;
    background-color: #fff;
    color: rgba(0,0,0,.75)
}

input {
  font-size: 100%;
}


.Story {
  font-size: 14px;
  background-color: rgb(241, 196, 205);
  padding: 0 16px;
  min-height: 40px;
}


.an-article {
  margin: 4px 0 0 4px;
}

.itletay {
  color: black;
  text-decoration: none;
  padding: 0 8px 0 16px;
}

.inklay {
  color: #868686;
  font-size: 13px;
  text-decoration: none;
}

.inklay:hover {
  text-decoration: underline;
}

.points, .author, .create {
  font-size: 10px;
  color: #868686;
  text-decoration: none;
  /* padding-left: 20px; */
}

.points {
  padding-left: 20px;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
