body {
  margin: 0;
  font-family: Verdana,Geneva,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6f6ef;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
 
  background-color: #ff742b;
  height: 60px;
}

input {
  width: 100%;
  height: 90%;
  background-color: blue;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
